<HTML>
<html lang="sv">
    <head>
        <title> CV - Issam Adam Hariri </title>
    </head>

    <body>
        <h1> Issam Adam Hariri </h1>
        <p> En Enkel testverison för att testa kunskaper inom HTML i form av CV</p>
        <h2> Övrig Info </h2>
        <p> Tycker om att arbeta med programmering, träning samt hänga med familjen </p>

            <ul>
                <li>Utbildning: DevOps Engineer</li>
                <li> Kontakt: issamhariri@outlook.com</li>
                <li> Färdigheter: Python</li>
            </ul>

            <ol>
                <li> Körkort: Truckkort / Körkort B
                <li> Tidigare Erfarenheter: Lärare och Säljare
                <li> Hobby: Träning
            </ol>
        </body>

        </html>
