<!--name="ticker_input"-->
<!--name="date_input"-->
<!--name="perspective"-->
<!--perspective values, alltså vilken data är de vi tar fram för våra tickers
standard, price_asc price_desc pct_asc pct_desc top_gainers top_losers-->

<!--context för index
messages = lista (fel)
tickers_input är en sträng från användaren
date_input är en sträng från användaren
perspective är valt perspektiv eller tom-->

<!--index.html behöver kunna visa
felmeddelanden
tidigare inmatning så fälten fylls i om användaren gjorde fel
perspektiv valet så rätt val är valt efter POST fel-->

{% extends "base.html" %}
{% block content %}

<section>
    <h1>Sök Aktier</h1>

    <div class="messages"></div>

    <form method="POST" action="/stocks">
        #Fält 1: Tickers
        #Fält 2: Datum
        #Fält 3: Perspektiv
        #Skicka knapp 
    </form>

    <p>Tips och hjälpexempel: För att få data om aktier skriv företags
        ticker symbol, exempelvis: TSLA, NVDA, AAPL eller AMZN
        Fungerar även att skriva in företagets namn som "Apple"
    </p>
{% endblock %}